    <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/about-me.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">The more you know!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>I currently have a MBA and Bachelors of Science in Information Technology.
            My professional career includes five and a half years a Lowe's Corporate.
            My tasks ranged from porgramming in C, manual testing, and helping manage resources for test environments.
            Spare time work includes production work from stage production (Audio Perfered) to Video work including editing and live video.</p>
            <p></p>
            <p></p>
        </div>
    </div>
</div>
<hr>