.navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: rgba(110, 160, 40, .9);
    border-bottom: 0px solid #f2f2f2;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    transition-timing-function: ease-out;
}

.post-preview:nth-of-type(even) {
    overflow: auto;
    /*background-color: #c7e698;*/
    background-color: #eaf5d6;
}

.subheading {
    font-weight: bold;
}

button#searchStrBtn {
    background-color: rgb(110, 160, 40);
    border-color: black;
    border-width: 1px;
}

input#searchStr {
    color: black;
    font-size: small;
}

.color-red
{
    background-color: darkred;
}

header h1, header h2, header span {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

header span {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*nav a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}*/

.navbar-custom.is-fixed .nav li a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
}

.navbar-custom.is-fixed .navbar-brand {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
}

nav .is-visible a {
    text-shadow: unset;
}