.navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: rgba(110, 160, 40, .85);
    border-bottom: 0px solid #f2f2f2;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    transition-timing-function: ease-out;
}

.post-preview:nth-of-type(even) {
    overflow: auto;
    /*background-color: #c7e698;*/
    background-color: #eaf5d6;
}

.subheading {
    font-weight: bold;
}
