@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/forgot-password.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@ViewBag.Title</h1>
                    <hr class="small">
                    <span class="subheading">Nothing funner than password management!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

@section scripts {
    @if (TempData.ContainsKey("status"))
    {
        if (TempData["status"].ToString() == "success")
        {
            <script>swal("Congradulations!", "Your message has been sent!", "success");</script>
        }

        if (TempData["status"].ToString() == "error")
        {
            <script>swal("OOPS!", "There was a problem sending your message","error");</script>
        }

        @*if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
            {
                <script>swal("Good job!", "You clicked the button!", "success");</script>
            }*@
    }
}
