@{
    ViewBag.Title = "Reset password confirmation";
}

<header class="intro-header" style="background-image: url('../../img/Manage-Logins.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@ViewBag.Title</h1>
                    <hr class="small">
                    <span class="subheading">Just remember where you left the key!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
